{% extends 'SuccessAdsBundle:Frontend:layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="/bundles/successads/js/datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />
{% endblock %}
  
{% block filters %}
<div class="box-body">
  <form action="{{ path('ads_index') }}" method="get">
    <div class="input-group input-group-sm col-md-2" style="padding-left: 0px;">
      {{ form_widget(filter.sections) }}
    </div>
      
    <div class="input-group input-group-sm col-md-2">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      {{ form_widget(filter.unlockedDate.left_date, { 'attr': { 'placeholder': 'Desde' } }) }}
    </div>
      
    <div class="input-group input-group-sm col-md-2">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      {{ form_widget(filter.unlockedDate.right_date, { 'attr': { 'placeholder': 'Hasta' } }) }}
    </div>
      
    <div class="input-group input-group-sm col-md-2">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-info btn-flat">BUSCAR!</button>
      </span>
    </div>
      <div class="clearfix"></div>
  </form>
</div>
{% endblock %}

{% block body %}
{% spaceless %}

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Listado de Campañas</h3>
        <div class="box-tools">
          {#<div class="input-group">
            <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
            <div class="input-group-btn">
              <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>#}
        </div>
      </div>
        
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
            <tr>
              <td>Estado</td>
              <td>Nombre de la campaña</td>
              <td>Secciones</td>
              <td>Presupuesto diario</td>
              <td>Impresiones</td>
              <td>Gasto</td>
              <td>Fecha de inicio</td>
              <td>Fecha de fin</td>
            </tr>
          </thead>
          <tbody>
            {% for campaign in pager.getCurrentPageResults() %}
            <tr>
              <td>{{ campaign.getState() | trans({}, 'SuccessAdsBundle') }}</td>
              <td><a href="{{ path('ads_show', { 'id': campaign.id }) }}">{{ campaign.name }}</a></td>
              <td>
                {% for section in campaign.getSections() %}
                  {{ ( not loop.first ? ' - '~section : section ) }}
                {% endfor %}
              </td>
              <td>$U {{ campaign.pricePerDay }}</td>
              <td>{{ campaign.views }}</td>
              <td>$U {{ campaign.views * pricePerView }}</td>
              <td>{{ campaign.unlockedDate | date('d-m-Y H:i') }}</td>
              <td>{{ campaign.unlockedUntilDate | date('d-m-Y H:i') }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="box-footer clearfix">
        {% if pager.haveToPaginate %}
         {{ pagerfanta(pager, 'twitter_bootstrap3', {
                  'prev_message' : '&larr;', 
                  'next_message' : '&rarr;',
                  'css_container_class' : 'pagination pull-right' }) }}
        {% endif %}
      </div>

    </div>
    <div class="box-footer">
      <a href="{{ path('ads_create') }}" class="btn btn-primary" >Nueva Campaña</a>
    </div>
  </div>
</div>

{% endspaceless %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/bundles/successads/js/datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
  <script src="/bundles/successads/js/datepicker/js/locales/bootstrap-datepicker.es.js" type="text/javascript"></script>  
  <script type="text/javascript">
    $(function() {

      $('.nav-datepicker').datepicker({
          language: "{{ app.request.locale }}",
          autoclose: true,
          format: 'dd/mm/yyyy'
      });

    });
  </script>
{% endblock %}
  